{% extends 'base.html.twig' %}

{% block body %}
<div style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;" class="text-center">
<h1>Bienvenue sur la page d'accueil</h1>
<p>Bienvenue sur notre boutique de jouets "SmartPlay"</p>  
</div>
{% endblock %}